.banner {
  padding: 150px 0;
  margin-top: -100px;
  transition: .4s;
  z-index: 1;
  margin-bottom: -125px;
  &.banner-page {
    margin-bottom: -250px;
    .traveller {
      bottom: 60px;
    }
  }
  h4 {
    color: #4A69BD;
    line-height: 50px;
    margin: 0 55px;
    margin-top: 175px;
  }
  button {
    text-align: left;
    margin-left: 95px;
    margin-top: 100px;
    margin-right: auto;
    display: block;
  }
}