main {
  overflow: hidden;
}

.section {
  background-color: #f4f3f2;
}

.bg-1 {
  background-image: url(../../../img/backgrounds/BG-01-01.png);
  background-attachment: inherit;
  background-repeat: repeat;
  background-size: cover;
  background-position: center center;
}

.bg-2 {
  background-image: url(../../../img/backgrounds/BG-02-01.png);
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.bg-3 {
  background-image: url(../../../img/backgrounds/BG-03-01.png);
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.fancy-btn {
  background: #1e5799;
  background: -moz-linear-gradient(left, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
  background: -webkit-linear-gradient(left, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
  background: linear-gradient(to right, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
  color: #fff;
  font-family: 'samim';
  border: none;
  padding: 13px 30px;
  font-size: 18px;
  border-radius: 50px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  &:focus,
  &:hover {
    color: #fff !important;
  }
  &:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }
  &:focus {
    background: -moz-linear-gradient(left, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
    background: -webkit-linear-gradient(left, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
    background: linear-gradient(to right, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
    box-shadow: none !important;
    text-shadow: none !important;
    outline: none !important;
    text-decoration: none !important;
    border: none !important;
  }
}

.fancy-btn-2 {
  background: linear-gradient(to right, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
  color: #fff;
  font-family: 'samim';
  border: none;
  padding: 0;
  font-size: 18px;
  border-radius: 50px;
  text-align: center;
  p {
    background-color: #fff;
    color: #4A69BD;
    font-size: 20px;
    padding: 10px 30px;
    margin: 1px;
    width: 180px;
    text-align: center;
    border-radius: 50px;
    transition: .4s;
  }
  &:hover {
    p {
      background-color: transparent;
      color: #fff;
    }
  }
}

a {
  &.instagram:hover {
    color: #c39631 !important;
  }
  &.facebook:hover {
    color: #3180c3 !important;
  }
  &.google:hover {
    color: #fd2f2f !important;
  }
}

.circle-bg {
  position: relative;
  .group-circles,
  .circle {
    position: absolute;
  }
}

.fancy-bg {
  background: linear-gradient(to right, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
}

.fancy-divider {
  background: #1e5799;
  background: -moz-linear-gradient(left, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
  background: -webkit-linear-gradient(left, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
  background: linear-gradient(to right, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
  width: 100%;
  height: 2px;
}

.sponsers {
  background-color: #f4f3f2;
  padding: 20px;
  margin-bottom: -1px;
  &.special {
    padding-top: 30px;
    padding-bottom: 0;
  }
  a {
    width: 100px;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  img {
    width: 100px;
    &.navabeq {
      width: 70px;
    }
  }
}

.breadcrumbs {
  h3 {
    font-family: 'IRANSans';
    a {
      text-decoration: none;
      color: #000;
      font-size: 15px;
      transition: .4s;
      &:hover {
        color: #4A69BD;
      }
    }
  }
}

.sponsers-slider {
  background-color: #f4f3f2;
  padding: 20px;
  .item {
    img {
      width: 200px;
      position: relative;
      &.navabeq {
        width: 130px;
        right: 18px;
      }
      &.animate-idea {
        right: 25px;
      }
    }
  }
}

#owl-one {
  .owl-nav {
    display: none;
  }
  .owl-dots {
    margin-top: 25px;
  }
}

.traveller {
  font-size: 40px;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50%;
  padding: 0;
  background-color: #e24b70;
  position: absolute;
  left: 25%;
  z-index: 3;
  top: 0;
  transition: .4s;
  &:focus,
  &:hover {
    background-color: #962c46;
    color: #fff;
  }
}

body.loader-in {
  overflow: hidden;
}

.loader {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 4000;
  transition: .4s;
  &.right {
    right: 100% !important;
  }
  img {
    width: 500px;
    margin:auto;
    display: block;
    margin-top: 20px;
  }
}

.form-main {
  box-shadow: 0px 0px 15px #636363;
  margin: 0 40px;
  position: relative;
  z-index: 2;
  .header-form {
    background-color: #4A69BD;
    h3 {
      margin-bottom: 0;
      margin-top: 0;
      text-align: center;
      padding: 40px;
      font-family: 'samim';
      color: #fff;
    }
  }
  .form {
    .form-group {
      &:before,
      &:after,
      .alert-explain,
      .alert-icon {
        display: none;
      }
    }
    .alert-explain {
      position: absolute;
      bottom: -25px;
      font-family: 'samim';
      font-size: 12px;
      &.red {
        color: #ca353a;
      }
      &.orange {
        color: #97c961;
      }
      &.blue {
        color: #1e84c6;
      }
    }
    .alert-sign {
      position: relative;
      &.last-input,
      &.green {
        input {
          margin-bottom: 45px;
        }
      }
      input {
        margin-bottom: 75px;
      }
      &:after,
      &:before {
        content: '';
        position: absolute;
        z-index: 4;
        top: -6px;
        display: block !important;
      }
      &:after {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 7px 10px;
        border-color: transparent transparent #000 transparent;
        left: 30px;
        z-index: 4;
      }
      &:before {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 9px 6px 9px;
        border-color: transparent transparent #fff transparent;
        left: 31px;
        z-index: 5;
        top: -5px;
      }
      
      &.green {
        input {
          border-color: #97c961;
        }
        &:after {
          border-color: transparent transparent #97c961 transparent;
        }
        .alert-icon.green {
          display: block;
        }
        
      }
      &.red {
        input {
          border-color: #ca353a;
          &::placeholder {
            color: #ca353a;
            opacity: 1;
          }
        }
        &:after {
          border-color: transparent transparent #ca353a transparent;
        }
        .alert-icon.red,
        .alert-explain.red {
          display: block;
        }
      }
      &.orange {
        input {
          border-color: #f17629;
          &::placeholder {
            color: #f17629;
            opacity: 1;
          }
        }
        &:after {
          border-color: transparent transparent #f17629 transparent;
        }
        .alert-explain.orange,
        .alert-icon.orange {
          display: block;
        }
      }
      &.blue {
        input {
          border-color: #1e84c6;
          &::placeholder {
            color: #1e84c6;
            opacity: 1;
          }
        }
        &:after {
          border-color: transparent transparent #1e84c6 transparent;
        }
        .alert-explain.blue,
        .alert-icon.blue {
          display: block;
        }
      }
      input {
        position: relative;
      }
      .alert-icon {
        position: absolute;
        width: 40px;
        left: 20px;
        top: -41px;
      }
    }
    .form-group:first-child {
      input {
        margin-top: 10px;
      }
    }
    padding: 40px;
    background-color: #fff;
    input,
    textarea {
      padding: 20px 10px;
      font-family: 'IRANSans';
      border-radius: 0;
    }
    input {
      margin-bottom: 45px;
      box-shadow: none !important;
      &:focus {
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: none !important;
      }
    }
    textarea {
      margin-bottom: 20px;
      padding-top: 10px;
    }
    .social-title {
      font-family: 'samim';
      font-size: 19px;
      margin-top: 45px;
    }
    ul {
      margin-top: 10px;
      li {
        a {
          font-size: 21px;
          color: #3474a2;
          transition: .4s;
        }
      }
    }
    .account-status {
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;
      margin-top: -15px;
      .left,
      .right {
        width: 50%;
        a {
          font-family: 'IRANSans';
          text-decoration: none;
          color: #33b7ac;
          transition: .3s;
          &:hover {
            color: #207972;
          }
        }
      }
      .left {
        text-align: left;
      }
    }
  }
}

.form-page {
  .grass {
    position: relative;
    z-index: 3;
    margin-top: -35px;
  }
}

.section {
  padding: 50px 0;
  padding-top: 0;
  .fancy-divider {
    margin-top: 100px;
    margin-bottom: 20px;
  }
}

.banner {
  .page-name {
    text-align: center;
  }
}

.banner {
  &.page-to-page {
    padding-top: 50px;
    ul {
      margin-bottom: 145px;
    }
  }
}

.content {
  background-color: #fff;
  box-shadow: 0px 0px 15px #636363;
  position: relative;
  z-index: 2;
}

.wave-top.certain-page {
  position: relative;
  z-index: 1;
}

.pagination {
  > li {
    &.count-page {
      a {
        width: 35px;
        height: 35px;
        background-color: #f4f3f2;
        color: #4A69BD;
        border: 1px solid #4A69BD;
        transition: .4s;
        &:hover {
          background-color: #4A69BD;
          color: #fff;
        }
        p {
          text-align: center;
        }
      }
    }
    &.active {
      a {
        background-color: #4A69BD;
        color: #fff;
      }
    }
    &:last-child {
      > a {
        margin-left: 0 !important;
      }
    }
    > a {
      margin-left: 10px !important;
      border-radius: 50%;
      font-family: 'IRANSans_num_web';
      &.prev,
      &.next {
        background-color: #4A69BD;
        color: #fff;
        border: 1px solid #4A69BD;
        p {
          margin-bottom: 0;
          font-family: 'IRANSans';
          position: relative;
          &:before {
            font-family: FontAwesome;
            position: absolute;
            bottom: -4px;
            font-size: 20px;
            color: #fff;
          }
        }
      }
      &.prev {
        p {
          &:before {
            content: "\f104";
            left: -25px;
          }
        }
      }
      &.next {
        p {
          &:before {
            content: "\f105";
            right: -25px;
          }
        }
      }
      &.next {
        padding-right: 40px;
        border-bottom-right-radius: 50px;
        border-top-right-radius: 50px;
        margin-left: 25px !important;
      }
      &.prev {
        padding-left: 40px;
        border-bottom-left-radius: 50px;
        border-top-left-radius: 50px;
        margin-right: 20px;
      }
    }
  }
}

@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
.searchop {
  position: relative;

  input {
    padding: 22px 15px;
    font-family: "IRANSans";
    &::placeholder {
      color: #27a4a5;
      opacity: 1;
      /* Firefox */
    }
    &:focus {
      outline: none;
      box-shadow: none;
      border-color: #27a4a5;
    }
  }

  button {
    position: absolute;
    padding: 2px;
    border: none;
    background-color: transparent;
    left: 3px;
    bottom: 2px;
    width: 35px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    &:focus,
    &:hover {
      box-shadow: none !important;
      background: transparent !important;
      border: none;
    }
  }
  &:hover {
    button {
      -webkit-animation-name: hvr-buzz-out;
      animation-name: hvr-buzz-out;
      -webkit-animation-duration: 0.75s;
      animation-duration: 0.75s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
    }
  }
}



.seen {
  .count {
    padding-right: 30px;
    color: #7b7b7b !important;
    font-size: 13px !important;
    font-family: 'IRANSans_num_web' !important;
    margin-bottom: 0;
    position: relative;
    &:before {
      font-family: FontAwesome;
      content: "\f06e";
      position: absolute;
      font-size: 23px;
      right: 0;
      color: #4A69BD;
    }
  }
}

.article {
  .content,
  img {
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  img {
    width: 95%;
    margin-top: 40px;
  }
  .content {
    padding: 15px;
    z-index: 3;
    position: relative;
    margin-top: -75px;
    width: 85%;
    transition: .4s;
    h5,
    p {
      font-family: 'IRANSans';
    }
    h5 {
      line-height: 23px;
    }
    .fancy-divider {
      margin: auto;
      width: 80%;
    }
  }
}

.tags {
  a {
    width: 100px;
    font-size: 10px;
    margin: auto;
    border-radius: 50px;
    background-color: #fff;
    margin-bottom: 10px;
    font-family: "IRANSans";
    transition: .4s;
    &.btn-primary {
      color: #1e6099;
      border-color: #1e6099;
      &:hover {
        background-color: #1e6099;
        color: #fff;
      }
    }
    &.btn-warning {
      color: #ee5136;
      border-color: #ee5136;
      &:hover {
        background-color: #ee5136;
        color: #fff;
      }
    }
    &.btn-info {
      color: #46daaa;
      border-color: #46daaa;
      &:hover {
        background-color: #46daaa;
        color: #fff;
      }
    }
    &.btn-success {
      color: #4cae4c;
      border-color: #4cae4c;
      &:hover {
        background-color: #4cae4c;
        color: #fff;
      }
    }
    &.btn-light {
      color: #c371f7;
      border-color: #c371f7;
      &:hover {
        background-color: #c371f7;
        color: #fff;
      }
    }
    &.btn-light {
      color: #c371f7;
      border-color: #c371f7;
      &:hover {
        background-color: #c371f7;
        color: #fff;
      }
    }
    &.btn-danger {
      color: #e83b35;
      border-color: #e83b35;
      &:hover {
        background-color: #e83b35;
        color: #fff;
      }
    }
  }
}

#return-to-top {
  position: fixed;
  bottom: 75px;
  left: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  z-index: 4;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  i {
    color: #fff;
    margin: 0 auto;
    position: relative;
    margin-top: -9px;
    left: 0;
    display: block;
    right: 0;
    text-align: center;
    top: 13px;
    font-size: 39px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  &:hover {
    background: rgba(0, 0, 0, 0.9);
    i {
      color: #fff;
    }
  }
}

.nav-tabs-common {
  border-bottom: 0;
  >li {
    margin-left: 20px;
    &:last-child {
      margin-left: 0;
    }
    &.distance {
      p {
        font-size: 20px;
        color: #4373b8;
      }
    }
    &.active {
      > a {
        border-color: transparent !important;
        p {
          color: #1bb89d !important;
        }
      }
    }
    >a {
      padding: 0 !important;
      width: auto !important;
      background-color: transparent !important;
      box-shadow: none !important;
      cursor: pointer;
      &:focus,
      &:hover {
        border-color: transparent !important;
        text-decoration: none;
      }
      &:hover {
        p {
          color: #1bb89d;
        }
      }
      p {
        font-family: 'samim';
        margin-top: 5px;
        font-size: 15px;
        color: #4A69BD;
        transition: .4s;
      }
    }
  }
}