main {
  overflow: hidden;
}

.section {
  background-color: #f4f3f2;
}

.bg-1 {
  background-image: url(../../../img/backgrounds/BG-01-01.png);
  background-attachment: inherit;
  background-repeat: repeat;
  background-size: cover;
  background-position: center center;
}

.bg-2 {
  background-image: url(../../../img/backgrounds/BG-02-01.png);
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.bg-3 {
  background-image: url(../../../img/backgrounds/BG-03-01.png);
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.fancy-btn {
  background: #1e5799;
  background: -moz-linear-gradient(left, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
  background: -webkit-linear-gradient(left, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
  background: linear-gradient(to right, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
  color: #fff;
  font-family: 'samim';
  border: none;
  padding: 13px 30px;
  font-size: 18px;
  border-radius: 50px;
  &:focus,
  &:hover {
    color: #fff !important;
  }
  &:focus {
    background: -moz-linear-gradient(left, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
    background: -webkit-linear-gradient(left, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
    background: linear-gradient(to right, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
    box-shadow: none !important;
    text-shadow: none !important;
    outline: none !important;
    text-decoration: none !important;
    border: none !important;
  }
}

.fancy-btn-2 {
  background: linear-gradient(to right, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
  color: #fff;
  font-family: 'samim';
  border: none;
  padding: 0;
  font-size: 18px;
  border-radius: 50px;
  text-align: center;
  &:focus,
  &:hover {
    color: #fff !important;
  }
  &:focus {
    box-shadow: none !important;
    text-shadow: none !important;
    outline: none !important;
    text-decoration: none !important;
    border: none !important;
  }
  p {
    background-color: #fff;
    color: #4A69BD;
    font-size: 20px;
    padding: 10px 30px;
    margin: 1px;
    width: 180px;
    text-align: center;
    border-radius: 50px;
  }
}

.circle-bg {
  position: relative;
  .circle {
    position: absolute;
  }
}

.fancy-divider {
  background: #1e5799;
  background: -moz-linear-gradient(left, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
  background: -webkit-linear-gradient(left, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
  background: linear-gradient(to right, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
  width: 100%;
  height: 1.5px;
}

.sponsers {
  background-color: #f4f3f2;
  padding: 20px;
  img {
    width: 100px;
    &.navabeq {
      width: 70px;
    }
  }
}

.breadcrumbs {
  h3 {
    font-family: 'IRANSans';
    a {
      text-decoration: none;
      color: #000;
      font-size: 15px;
    }
  }
}

.sponsers-slider {
  background-color: #f4f3f2;
  padding: 20px;
  .item {
    img {
      width: 200px;
      position: relative;
      &.navabeq {
        width: 130px;
        right: 18px;
      }
      &.animate-idea {
        right: 25px;
      }
    }
  }
}

#owl-one {
  .owl-nav {
    display: none;
  }
  .owl-dots {
    margin-top: 25px;
  }
}

.traveller {
  font-size: 40px;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50%;
  padding: 0;
  background-color: #e24b70;
  position: absolute;
  left: 25%;
  bottom: -60px;
  &:focus,
  &:hover {
    background-color: #e24b70;
    color: #fff;
  }
}

.simple-circles {
  .item-1 {
    width: 235px;
    right: -60px;
    top: 0;
  }
  .item-2 {
    width: 200px;
    left: -15px;
    top: 0;
  }
  .item-3 {
    width: 140px;
    left: 14%;
    bottom: 125px;
  }
  .item-4 {
    width: 103px;
    right: 20%;
    bottom: 103px;
  }
}

.form-main {
  box-shadow: 0px 0px 15px #636363;
  margin: 0 40px;
  position: relative;
  z-index: 2;
  .header-form {
        background-color: #4A69BD;
    h3 {
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    padding: 40px;
      font-family: 'samim';
      color: #fff;
    }
  }
  .form {
    padding: 40px;
    background-color: #fff;
    input,
    textarea {
      padding: 20px 10px;
      font-family: 'IRANSans';
      border-radius: 0;
    }
    input {
      margin-bottom: 30px;
    }
    textarea {
      margin-bottom: 20px;
      padding-top: 10px;
    }
  }
}

.section {
  padding: 50px 0;
  padding-top: 0;
  .fancy-divider {
    margin-top: 100px;
    margin-bottom: 20px;
  }
}

.banner {
  .page-name {
    text-align: center;
  }
}

.content {
  background-color: #fff;
  box-shadow: 0px 0px 15px #636363;
  position: relative;
  z-index: 2;
}