main {
  overflow: hidden;
}

.section {
  background-color: #f4f3f2;
}

.bg-1 {
  background-image: url(../../../img/backgrounds/BG-01-01.png);
  background-attachment: inherit;
  background-repeat: repeat;
  background-size: cover;
  background-position: center center;
}

.bg-2 {
  background-image: url(../../../img/backgrounds/BG-02-01.png);
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.bg-3 {
  background-image: url(../../../img/backgrounds/BG-03-01.png);
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.fancy-btn {
  background: #1e5799;
  background: -moz-linear-gradient(left, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
  background: -webkit-linear-gradient(left, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
  background: linear-gradient(to right, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
  color: #fff;
  font-family: 'samim';
  border: none;
  padding: 13px 30px;
  font-size: 18px;
  border-radius: 50px;
  &:focus,
  &:hover {
    color: #fff !important;
  }
  &:focus {
    background: -moz-linear-gradient(left, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
    background: -webkit-linear-gradient(left, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
    background: linear-gradient(to right, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
    box-shadow: none !important;
    text-shadow: none !important;
    outline: none !important;
    text-decoration: none !important;
    border: none !important;
  }
}

.fancy-btn-2 {
  background: linear-gradient(to right, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
  color: #fff;
  font-family: 'samim';
  border: none;
  padding: 0;
  font-size: 18px;
  border-radius: 50px;
  text-align: center;
  &:focus,
  &:hover {
    color: #fff !important;
    background: linear-gradient(to right, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
  }
  &:focus {
    background: linear-gradient(to right, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
    box-shadow: none !important;
    text-shadow: none !important;
    outline: none !important;
    text-decoration: none !important;
    border: none !important;
  }
  p {
    background-color: #fff;
    color: #4A69BD;
    font-size: 20px;
    padding: 10px 30px;
    margin: 1px;
    width: 180px;
    text-align: center;
    border-radius: 50px;
  }
}

.circle-bg {
  position: relative;
  .group-circles,
  .circle {
    position: absolute;
  }
}

.fancy-divider {
  background: #1e5799;
  background: -moz-linear-gradient(left, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
  background: -webkit-linear-gradient(left, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
  background: linear-gradient(to right, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
  width: 100%;
  height: 1.5px;
}

.sponsers {
  background-color: #f4f3f2;
  padding: 20px;
  img {
    width: 100px;
    &.navabeq {
      width: 70px;
    }
  }
}

.breadcrumbs {
  h3 {
    font-family: 'IRANSans';
    a {
      text-decoration: none;
      color: #000;
      font-size: 15px;
    }
  }
}

.sponsers-slider {
  background-color: #f4f3f2;
  padding: 20px;
  .item {
    img {
      width: 200px;
      position: relative;
      &.navabeq {
        width: 130px;
        right: 18px;
      }
      &.animate-idea {
        right: 25px;
      }
    }
  }
}

#owl-one {
  .owl-nav {
    display: none;
  }
  .owl-dots {
    margin-top: 25px;
  }
}

.traveller {
  font-size: 40px;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50%;
  padding: 0;
  background-color: #e24b70;
  position: absolute;
  left: 25%;
  z-index: 3;
  top: 0;
  &:focus,
  &:hover {
    background-color: #e24b70;
    color: #fff;
  }
}

.form-main {
  box-shadow: 0px 0px 15px #636363;
  margin: 0 40px;
  position: relative;
  z-index: 2;
  .header-form {
    background-color: #4A69BD;
    h3 {
      margin-bottom: 0;
      margin-top: 0;
      text-align: center;
      padding: 40px;
      font-family: 'samim';
      color: #fff;
    }
  }
  .form {
    padding: 40px;
    background-color: #fff;
    input,
    textarea {
      padding: 20px 10px;
      font-family: 'IRANSans';
      border-radius: 0;
    }
    input {
      margin-bottom: 30px;
    }
    textarea {
      margin-bottom: 20px;
      padding-top: 10px;
    }
    .social-title {
      font-family: 'samim';
      font-size: 19px;
      margin-top: 45px;
    }
    ul {
      margin-top: 10px;
      li {
        a {
          font-size: 21px;
          color: #3474a2;
        }
      }
    }
    .account-status {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: -15px;
      .left,
      .right {
        width: 50%;
        a {
          font-family: 'IRANSans';
          text-decoration: none;
          color: #33b7ac;
        }
      }
      .left {
        text-align: left;
      }
    }
  }
}

.form-page {
  .grass {
    position: relative;
    z-index: 3;
    margin-top: -35px;
  }
}

.section {
  padding: 50px 0;
  padding-top: 0;
  .fancy-divider {
    margin-top: 100px;
    margin-bottom: 20px;
  }
}

.banner {
  .page-name {
    text-align: center;
  }
}

.banner {
  &.page-to-page {
    padding-top: 50px;
    ul {
      margin-bottom: 145px;
    }
  }
}

.content {
  background-color: #fff;
  box-shadow: 0px 0px 15px #636363;
  position: relative;
  z-index: 2;
}

.wave-top.certain-page {
  position: relative;
  z-index: 1;
}

#return-to-top {
  position: fixed;
  bottom: 75px;
  left: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  z-index: 4;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top i {
  color: #fff;
  margin: 0 auto;
  position: relative;
  margin-top: -9px;
  left: 0;
  display: block;
  right: 0;
  text-align: center;
  top: 13px;
  font-size: 39px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
  color: #fff;
}