#accordion {
  padding-left: 75px;
  position: relative;
  z-index: 1;
  &:before {
    content: '';
    width: 1px;
    height: 91%;
    background: #a22d1f;
    position: absolute;
    top: 0;
    left: 21px;
    z-index: -1;
  }
  .panel {
    border: none;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 45px;
  }
  .panel-heading {
    padding: 0;
    border-radius: 0;
    border: none;
  }
  .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    font-family: 'IRANSans';
    background-color: #f4f3f2;
    a {
      background-color: #f4f3f2;
      display: block;
      font-size: 16px;
      font-weight: 700;
      color: #31162e;
      padding: 10px 30px 15px 0;
      position: relative;
      line-height: 35px;
      transition: all .5s ease 0s;
      text-decoration: none;
      font-family: 'IRANSans';
      &:before {
        content: "\f013";
        font-family: FontAwesome;
        font-weight: 900;
        font-size: 20px;
        color: #fff;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: .4s;
        line-height: 40px;
        text-align: center;
        background: #a22d1f;
        border: 1px solid #a22d1f;
        position: absolute;
        top: 0;
        left: -74px;
      }
    }
  }
  .panel-body {
    background-color: #f4f3f2;
    font-size: 14px;
    color: #487677;
    line-height: 25px;
    padding: 5px 15px 15px 0;
    border: none;
    font-family: 'IRANSans';
    p {
      margin-right: 15px;
    }
  }
}

.faq {
  .item-1 {
    width: 235px;
    right: -60px;
    top: 0;
  }
  .item-2 {
    width: 200px;
    left: -15px;
    top: 0;
  }
  .item-3 {
    width: 140px;
    left: 14%;
    bottom: 125px;
  }
  .item-4 {
    width: 103px;
    right: 20%;
    bottom: 103px;
  }
}

@-moz-document url-prefix() {
  .faq {
    .circle {
      display: none;
    }
  }
}