/*---------------------------------------------------

Header

---------------------------------------------------*/

.navbar-brand {
  >img {
    margin-top: 20px;
    width: 220px;
    transition: .4s;
  }
}

.wrap-sticky {
  nav.navbar.bootsnav.sticked {
    background-color: rgba(243, 243, 243, 0.9);

    .navbar-brand {
      >img {
        margin-top: 0px;
        width: 125px;
      }
    }
  }
}

.top-search input.form-control {
  font-family: 'IRANSans';
}

nav.navbar.bootsnav {
  position: fixed;
  z-index: 2000 !important;
  border-bottom: none;
  background-color: transparent;
  transition: .4s;

  .container-fluid {
    margin: auto 30px;
  }

  ul.nav {
    >li {
      &.active {
        >a {
          color: #4A69BD;

          &:before {
            width: 85%;
            opacity: 1;
          }
        }
      }

      >a {
        font-weight: 400;
        padding: 10px 15px;
        margin: 30px 0;
        font-size: 12px;
        position: relative;
        font-family: 'IRANSans';

        &:before {
          content: "";
          transition: .4s;
          width: 50%;
          height: 1px;
          bottom: 0;
          position: absolute;
          opacity: 0;
          right: 0;
          background-color: #4A69BD;
          left: 0;
          margin: auto;
        }

        &:hover {
          color: #4A69BD;

          &:before {
            width: 100%;
            opacity: 1;
          }
        }
      }
    }
  }

  .attr-nav {
    float: left;
    font-size: 12px;

    >ul {
      >li {
        &.dropdown {
          ul.dropdown-menu {
            border-top: none;
          }
        }
        &.carts-lang {
          margin: 30px 0;

          a {
            margin: 0;

            img {
              width: 15px;
            }
          }
        }

        &.link {
          &.active {
            >a {
              color: #4A69BD;

              &:before {
                width: 100%;
                opacity: 1;
              }
            }
          }

          >a {
            text-decoration: none;
            font-family: 'IRANSans';

            &:before {
              content: "";
              transition: .4s;
              width: 50%;
              height: 1px;
              bottom: 0;
              position: absolute;
              opacity: 0;
              right: 0;
              background-color: #4A69BD;
              left: 0;
              margin: auto;
            }
          }

          >a:hover {
            color: #4A69BD;

            &:before {
              width: 100%;
              opacity: 1;
            }
          }
        }

        >a {
          transition: .4s;
          padding: 10px 15px;
          margin: 30px 0;

          &:hover {
            color: #4A69BD;
          }
        }
      }
    }
  }
}

.custom-select {
  position: relative;
  font-family: Arial;

  select {
    display: none;
  }
}

.select-selected {
  background-color: DodgerBlue;

  &:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  direction: ltr;
  text-align: left;
  font-family: 'IRANSans';
}

.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  div {
    background-color: #125ba2;
    transition: .4s;
  }
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

#translations {
  position: absolute;
  right: 40px;
  bottom: 5px;
  .translater {
    img {
      width: 50px;
    }
  }
  .custom-select {
    position: absolute;
    width: 150px;
    display: none;
    &.display {
      display: block;
    }
  }
}