/*---------------------------------------------------

Header

---------------------------------------------------*/

.navbar-brand {
  > img {
    margin-top: 20px;
    width: 220px;
  }
}

nav.navbar.bootsnav {
  .container-fluid {
    margin: auto 30px;
  }
  ul.nav {
    > li {
      &.active {
        > a {
          color: #4A69BD;
          &:before {
            width: 100%;
            opacity: 1;
          }
        }
      }
      > a {
        font-weight: 400;
        padding: 10px 15px;
        margin: 30px 0;
        font-size: 12px;
        position: relative;
        &:before {
          content: "";
          transition: .4s;
          width: 50%;
          height: 1px;
          bottom: 0;
          position: absolute;
          opacity: 0;
          right: 0;
          background-color: #4A69BD;
          left: 0;
          margin: auto;
        }
        &:hover {
          color: #4A69BD;
          &:before {
            width: 100%;
            opacity: 1;
          }
        }
      }
    }
  }
  .attr-nav {
    float: left;
    font-size: 12px;
    > ul {
      > li {
        &.link {
          > a {
            text-decoration: none;
            &:before {
              content: "";
              transition: .4s;
              width: 50%;
              height: 1px;
              bottom: 0;
              position: absolute;
              opacity: 0;
              right: 0;
              background-color: #4A69BD;
              left: 0;
              margin: auto;
            }
          }
          > a:hover {
            color: #4A69BD;
            &:before {
              width: 100%;
              opacity: 1;
            }
          }
        }
        > a {
          transition: .4s;
          padding: 10px 15px;
          margin: 30px 0;
          &:hover {
            color: #4A69BD;
          }
        }
      }
    }
  }
}