.sign-up {
  .item-1,
  .item-2,
  .item-3,
  .item-4 {
    width: 200px;
  }
  .item-1 {
    right: -55%;
    top: 0;
  }
  .item-2 {
    left: -50%;
    width: 130px;
    top: 0;
  }
  .item-4 {
    right: -25%;
    width: 100px;
    bottom: 25%;
  }
  .item-3 {
    left: -50%;
    width: 210px;
    bottom: 10%;
  }
  .fancy-divider {
    margin-top: 150px;
  }
}