.membership {
  position: relative;
  .details {
    position: absolute;
    width: 100%;
    &:hover {
      .background {
        margin: 0 30px;
      }
      .info {
        width: 60%;
        .photo {
          img {
            width: 125px;
            margin-top: -35px;
          }
        }
        h3 {
          font-size: 25px;
        }
        h5 {
          font-size: 20px;
        }
        ul {
          li a {
            color: #2989d8;
            font-size: 25px;
          }
        }
        .fancy-divider {
          width: 165px;
        }
      }
    }
  }
  .info {
    position: absolute;
    width: 45%;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    ul {
      margin-top: -10px;
      li {
        a {
          color: #2989d8;
          font-size: 20px;
          transition: .4s;
        }
      }
    }
    h5,
    h3 {
      font-family: 'IRANSans';
      text-align: center;
    }
    h3 {
      font-size: 20px;
      transition: .4s;
      a {
        text-decoration: none;
        color: #000;
      }
    }
    h5 {
      font-size: 17px;
      color: #2989d8;
      transition: .4s;
    }
    .photo {
      img {
        width: 105px;
        margin: 0 auto;
        border-radius: 50%;
        display: block;
        margin-top: -25px;
        transition: .4s;
      }
    }
  }
  .background {
    margin: 0 50px;
    transition: .4s;
    &.middle {
      margin: 0 35px;
    }
  }
  .fancy-divider {
    margin-top: 20px;
    transition: .4s;
    width: 135px;
    margin-right: auto;
    margin-left: auto;
  }
}

.testimonial {
  padding: 120px 0;
  padding-bottom: 0px;
  .testimonial-title {
    position: absolute;
    top: -5px;
    right: 0;
    left: 0;
    font-size: 25px;
    font-family: lalezar;
    color: #4A69BD;
  }
  .fancy-divider-bottom {
    margin-bottom: 0px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
  }
  .row-1 {
    margin-top: 50px;
  }
  .row-2 {
    margin-top: 350px;
        height: 340px;
  }
  .owl-carousel {
    .owl-nav {
      display: none;
    }
    .owl-dots {
      position: absolute;
      top: -75px;
      right: 0;
      left: 0;
    }
    .owl-item {
      img.background {
        display: initial;
        width: auto;
      }
    }
  }
}

.testimonial {
  .item-1 {
    width: 250px;
    left: -60px;
    top: -23px;
  }
  .item-2 {
    width: 100px;
    left: 5%;
    bottom: 55px;
  }
  .item-3 {
    width: 300px;
    right: -135px;
    bottom: 125px;
  }
  .item-4 {
    width: 103px;
    right: 5%;
    top: 103px;
  }
}