/***************************** 

          GLOBAL

********************************/
body {
  margin: 0; }

.width-full {
  width: 100%; }

.index-1 {
  z-index: 1; }

.index-2 {
  z-index: 2; }

.index-3 {
  z-index: 3; }

.white {
  color: #fff !important; }

.center-absolute {
  position: absolute;
  right: 0;
  left: 0;
  text-align: center; }

.overflow_hidden {
  overflow: hidden; }

.l-title hr {
  width: 20%;
  border: 1px solid #c5c5c5; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
input,
a,
span,
strong,
em,
i,
b,
li {
  direction: rtl;
  text-align: right; }

.text_bold, h1.heading-style-1,
h2.heading-style-1,
h3.heading-style-1,
h4.heading-style-1,
h5.heading-style-1,
h6.heading-style-1, h1.heading-style-2,
h2.heading-style-2,
h3.heading-style-2,
h4.heading-style-2,
h5.heading-style-2,
h6.heading-style-2, h1.heading-style-3,
h2.heading-style-3,
h3.heading-style-3,
h4.heading-style-3,
h5.heading-style-3,
h6.heading-style-3, h1.heading-style-4,
h2.heading-style-4,
h3.heading-style-4,
h4.heading-style-4,
h5.heading-style-4,
h6.heading-style-4, h1.heading-style-5,
h2.heading-style-5,
h3.heading-style-5,
h4.heading-style-5,
h5.heading-style-5,
h6.heading-style-5, h1.heading-style-6,
h2.heading-style-6,
h3.heading-style-6,
h4.heading-style-6,
h5.heading-style-6,
h6.heading-style-6 {
  font-weight: bold; }

.text-jutify {
  text-align: justify; }

h1.heading-style-1,
h2.heading-style-1,
h3.heading-style-1,
h4.heading-style-1,
h5.heading-style-1,
h6.heading-style-1 {
  font-size: 35px;
  line-height: 46px;
  margin-bottom: 29px; }

h1.heading-style-2,
h2.heading-style-2,
h3.heading-style-2,
h4.heading-style-2,
h5.heading-style-2,
h6.heading-style-2 {
  font-size: 29px;
  line-height: 67.5px;
  margin-bottom: 20px; }

h1.heading-style-3,
h2.heading-style-3,
h3.heading-style-3,
h4.heading-style-3,
h5.heading-style-3,
h6.heading-style-3 {
  font-size: 23px;
  line-height: 52.5px;
  margin-bottom: 20px; }

h1.heading-style-4,
h2.heading-style-4,
h3.heading-style-4,
h4.heading-style-4,
h5.heading-style-4,
h6.heading-style-4 {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 12px; }

h1.heading-style-5,
h2.heading-style-5,
h3.heading-style-5,
h4.heading-style-5,
h5.heading-style-5,
h6.heading-style-5 {
  font: bold 16px;
  line-height: 30px;
  letter-spacing: 3px;
  margin-bottom: 11px; }

h1.heading-style-6,
h2.heading-style-6,
h3.heading-style-6,
h4.heading-style-6,
h5.heading-style-6,
h6.heading-style-6 {
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 18px;
  text-transform: uppercase; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  text-align: right; }

.dis-none {
  display: none; }

.dis-blc {
  display: block; }

.samim-font {
  font-family: "samim"; }

.lalezar-font {
  font-family: Lalezar; }

.iransans-font {
  font-family: "IRANSans"; }

/*---------------------------------------------------

Header

---------------------------------------------------*/
.navbar-brand > img {
  margin-top: 20px;
  width: 220px;
  transition: .4s; }

.wrap-sticky nav.navbar.bootsnav.sticked {
  background-color: #f3f3f3e8; }
  .wrap-sticky nav.navbar.bootsnav.sticked .navbar-brand > img {
    margin-top: 0px;
    width: 125px; }

nav.navbar.bootsnav {
  position: fixed;
  z-index: 2000 !important;
  border-bottom: none;
  background-color: transparent;
  transition: .4s; }
  nav.navbar.bootsnav .container-fluid {
    margin: auto 30px; }
  nav.navbar.bootsnav ul.nav > li.active > a {
    color: #4A69BD; }
    nav.navbar.bootsnav ul.nav > li.active > a:before {
      width: 100%;
      opacity: 1; }
  nav.navbar.bootsnav ul.nav > li > a {
    font-weight: 400;
    padding: 10px 15px;
    margin: 30px 0;
    font-size: 12px;
    position: relative;
    font-family: 'IRANSans'; }
    nav.navbar.bootsnav ul.nav > li > a:before {
      content: "";
      transition: .4s;
      width: 50%;
      height: 1px;
      bottom: 0;
      position: absolute;
      opacity: 0;
      right: 0;
      background-color: #4A69BD;
      left: 0;
      margin: auto; }
    nav.navbar.bootsnav ul.nav > li > a:hover {
      color: #4A69BD; }
      nav.navbar.bootsnav ul.nav > li > a:hover:before {
        width: 100%;
        opacity: 1; }
  nav.navbar.bootsnav .attr-nav {
    float: left;
    font-size: 12px; }
    nav.navbar.bootsnav .attr-nav > ul > li.link > a {
      text-decoration: none;
      font-family: 'IRANSans'; }
      nav.navbar.bootsnav .attr-nav > ul > li.link > a:before {
        content: "";
        transition: .4s;
        width: 50%;
        height: 1px;
        bottom: 0;
        position: absolute;
        opacity: 0;
        right: 0;
        background-color: #4A69BD;
        left: 0;
        margin: auto; }
    nav.navbar.bootsnav .attr-nav > ul > li.link > a:hover {
      color: #4A69BD; }
      nav.navbar.bootsnav .attr-nav > ul > li.link > a:hover:before {
        width: 100%;
        opacity: 1; }
    nav.navbar.bootsnav .attr-nav > ul > li > a {
      transition: .4s;
      padding: 10px 15px;
      margin: 30px 0; }
      nav.navbar.bootsnav .attr-nav > ul > li > a:hover {
        color: #4A69BD; }

h1 {
  font-family: 'samim'; }

@media (min-width: 768px) {
  .navbar-header {
    float: left; } }
.banner {
  padding: 150px 0;
  margin-top: -100px;
  transition: .4s; }
  .banner h4 {
    color: #4A69BD;
    line-height: 50px;
    margin: 0 55px;
    margin-top: 175px; }
  .banner button {
    text-align: left;
    margin-left: 95px;
    margin-top: 100px;
    margin-right: auto;
    display: block; }

.bg-1 {
  background-image: url(../../../img/backgrounds/BG-01-01.png);
  background-attachment: inherit;
  background-repeat: repeat;
  background-size: cover;
  background-position: center center; }

.fancy-btn {
  background: #1e5799;
  background: -moz-linear-gradient(left, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
  background: -webkit-linear-gradient(left, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
  background: linear-gradient(to right, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
  color: #fff;
  font-family: 'samim';
  border: none;
  padding: 13px 30px;
  font-size: 18px;
  border-radius: 50px; }
  .fancy-btn:focus, .fancy-btn:hover {
    color: #fff !important; }
  .fancy-btn:focus {
    background: -moz-linear-gradient(left, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
    background: -webkit-linear-gradient(left, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
    background: linear-gradient(to right, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
    box-shadow: none !important;
    text-shadow: none !important;
    outline: none !important;
    text-decoration: none !important;
    border: none !important; }

/*# sourceMappingURL=main.css.map */
