/***************************** 

          GLOBAL

********************************/
body {
  margin: 0; }

.width-full {
  width: 100%; }

.width-squre {
  width: 25px; }

.width-half {
  width: 50%; }

.width-three {
  width: 75%; }

.opacity-1 {
  opacity: 1 !important; }

.opacity-0 {
  opacity: 0 !important; }

.index-1 {
  z-index: 1; }

.index-2 {
  z-index: 2; }

.index-3 {
  z-index: 3; }

.white {
  color: #fff !important; }

.center-absolute {
  position: absolute;
  right: 0;
  left: 0;
  text-align: center; }

.overflow_hidden {
  overflow: hidden; }

.l-title hr {
  width: 20%;
  border: 1px solid #c5c5c5; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
input,
a,
span,
strong,
em,
i,
b,
li {
  direction: rtl;
  text-align: right; }

.text_bold, h1.heading-style-1,
h2.heading-style-1,
h3.heading-style-1,
h4.heading-style-1,
h5.heading-style-1,
h6.heading-style-1, h1.heading-style-2,
h2.heading-style-2,
h3.heading-style-2,
h4.heading-style-2,
h5.heading-style-2,
h6.heading-style-2, h1.heading-style-3,
h2.heading-style-3,
h3.heading-style-3,
h4.heading-style-3,
h5.heading-style-3,
h6.heading-style-3, h1.heading-style-4,
h2.heading-style-4,
h3.heading-style-4,
h4.heading-style-4,
h5.heading-style-4,
h6.heading-style-4, h1.heading-style-5,
h2.heading-style-5,
h3.heading-style-5,
h4.heading-style-5,
h5.heading-style-5,
h6.heading-style-5, h1.heading-style-6,
h2.heading-style-6,
h3.heading-style-6,
h4.heading-style-6,
h5.heading-style-6,
h6.heading-style-6 {
  font-weight: bold; }

.text-jutify {
  text-align: justify; }

h1.heading-style-1,
h2.heading-style-1,
h3.heading-style-1,
h4.heading-style-1,
h5.heading-style-1,
h6.heading-style-1 {
  font-size: 35px;
  line-height: 46px;
  margin-bottom: 29px; }

h1.heading-style-2,
h2.heading-style-2,
h3.heading-style-2,
h4.heading-style-2,
h5.heading-style-2,
h6.heading-style-2 {
  font-size: 29px;
  line-height: 67.5px;
  margin-bottom: 20px; }

h1.heading-style-3,
h2.heading-style-3,
h3.heading-style-3,
h4.heading-style-3,
h5.heading-style-3,
h6.heading-style-3 {
  font-size: 23px;
  line-height: 52.5px;
  margin-bottom: 20px; }

h1.heading-style-4,
h2.heading-style-4,
h3.heading-style-4,
h4.heading-style-4,
h5.heading-style-4,
h6.heading-style-4 {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 12px; }

h1.heading-style-5,
h2.heading-style-5,
h3.heading-style-5,
h4.heading-style-5,
h5.heading-style-5,
h6.heading-style-5 {
  font: bold 16px;
  line-height: 30px;
  letter-spacing: 3px;
  margin-bottom: 11px; }

h1.heading-style-6,
h2.heading-style-6,
h3.heading-style-6,
h4.heading-style-6,
h5.heading-style-6,
h6.heading-style-6 {
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 18px;
  text-transform: uppercase; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  text-align: right; }

.dis-none {
  display: none; }

.dis-blc {
  display: block; }

.display-flex {
  display: flex; }

.flex-r {
  flex-direction: row; }

.flex-rr {
  flex-direction: row-reverse; }

.samim-font {
  font-family: "samim"; }

.lalezar-font {
  font-family: Lalezar; }

.iransans-font {
  font-family: "IRANSans"; }

main {
  overflow: hidden; }

.bg-1 {
  background-image: url(../../../img/backgrounds/BG-01-01.png);
  background-attachment: inherit;
  background-repeat: repeat;
  background-size: cover;
  background-position: center center; }

.bg-2 {
  background-image: url(../../../img/backgrounds/BG-02-01.png);
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center; }

.bg-3 {
  background-image: url(../../../img/backgrounds/BG-03-01.png);
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom; }

.fancy-btn {
  background: #1e5799;
  background: -moz-linear-gradient(left, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
  background: -webkit-linear-gradient(left, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
  background: linear-gradient(to right, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
  color: #fff;
  font-family: 'samim';
  border: none;
  padding: 13px 30px;
  font-size: 18px;
  border-radius: 50px; }
  .fancy-btn:focus, .fancy-btn:hover {
    color: #fff !important; }
  .fancy-btn:focus {
    background: -moz-linear-gradient(left, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
    background: -webkit-linear-gradient(left, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
    background: linear-gradient(to right, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
    box-shadow: none !important;
    text-shadow: none !important;
    outline: none !important;
    text-decoration: none !important;
    border: none !important; }

.circle-bg {
  position: relative; }
  .circle-bg .circle {
    position: absolute; }

.fancy-divider {
  background: #1e5799;
  background: -moz-linear-gradient(left, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
  background: -webkit-linear-gradient(left, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
  background: linear-gradient(to right, #1e5799 0%, #1bbb9c 100%, #207cca 100%, #2989d8 100%);
  width: 100%;
  height: 1.5px; }

.sponsers {
  background-color: #f4f3f2;
  padding: 20px; }
  .sponsers img {
    width: 100px; }
    .sponsers img.navabeq {
      width: 70px; }

.sponsers-slider {
  background-color: #f4f3f2;
  padding: 20px; }
  .sponsers-slider .item img {
    width: 200px;
    position: relative; }
    .sponsers-slider .item img.navabeq {
      width: 130px;
      right: 18px; }
    .sponsers-slider .item img.animate-idea {
      right: 25px; }

#owl-one .owl-nav {
  display: none; }
#owl-one .owl-dots {
  margin-top: 25px; }

.traveller {
  font-size: 40px;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50%;
  padding: 0;
  background-color: #e24b70;
  position: absolute;
  left: 25%;
  bottom: -60px; }
  .traveller:focus, .traveller:hover {
    background-color: #e24b70;
    color: #fff; }

/*---------------------------------------------------

Header

---------------------------------------------------*/
.navbar-brand > img {
  margin-top: 20px;
  width: 220px;
  transition: .4s; }

.wrap-sticky nav.navbar.bootsnav.sticked {
  background-color: #f3f3f3e8; }
  .wrap-sticky nav.navbar.bootsnav.sticked .navbar-brand > img {
    margin-top: 0px;
    width: 125px; }

.top-search input.form-control {
  font-family: 'IRANSans'; }

nav.navbar.bootsnav {
  position: fixed;
  z-index: 2000 !important;
  border-bottom: none;
  background-color: transparent;
  transition: .4s; }
  nav.navbar.bootsnav .container-fluid {
    margin: auto 30px; }
  nav.navbar.bootsnav ul.nav > li.active > a {
    color: #4A69BD; }
    nav.navbar.bootsnav ul.nav > li.active > a:before {
      width: 100%;
      opacity: 1; }
  nav.navbar.bootsnav ul.nav > li > a {
    font-weight: 400;
    padding: 10px 15px;
    margin: 30px 0;
    font-size: 12px;
    position: relative;
    font-family: 'IRANSans'; }
    nav.navbar.bootsnav ul.nav > li > a:before {
      content: "";
      transition: .4s;
      width: 50%;
      height: 1px;
      bottom: 0;
      position: absolute;
      opacity: 0;
      right: 0;
      background-color: #4A69BD;
      left: 0;
      margin: auto; }
    nav.navbar.bootsnav ul.nav > li > a:hover {
      color: #4A69BD; }
      nav.navbar.bootsnav ul.nav > li > a:hover:before {
        width: 100%;
        opacity: 1; }
  nav.navbar.bootsnav .attr-nav {
    float: left;
    font-size: 12px; }
    nav.navbar.bootsnav .attr-nav > ul > li.link > a {
      text-decoration: none;
      font-family: 'IRANSans'; }
      nav.navbar.bootsnav .attr-nav > ul > li.link > a:before {
        content: "";
        transition: .4s;
        width: 50%;
        height: 1px;
        bottom: 0;
        position: absolute;
        opacity: 0;
        right: 0;
        background-color: #4A69BD;
        left: 0;
        margin: auto; }
    nav.navbar.bootsnav .attr-nav > ul > li.link > a:hover {
      color: #4A69BD; }
      nav.navbar.bootsnav .attr-nav > ul > li.link > a:hover:before {
        width: 100%;
        opacity: 1; }
    nav.navbar.bootsnav .attr-nav > ul > li > a {
      transition: .4s;
      padding: 10px 15px;
      margin: 30px 0; }
      nav.navbar.bootsnav .attr-nav > ul > li > a:hover {
        color: #4A69BD; }

.banner {
  padding: 150px 0;
  margin-top: -100px;
  transition: .4s;
  z-index: 1;
  margin-bottom: -125px; }
  .banner h4 {
    color: #4A69BD;
    line-height: 50px;
    margin: 0 55px;
    margin-top: 175px; }
  .banner button {
    text-align: left;
    margin-left: 95px;
    margin-top: 100px;
    margin-right: auto;
    display: block; }

footer {
  padding: 20px; }
  footer .information .brand {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 10px;
    z-index: 2;
    height: 100px;
    box-shadow: 0px 0px 15px #67a0a9;
    position: relative; }
    footer .information .brand h3 {
      color: #4A69BD;
      width: 70%;
      font-size: 18px;
      font-family: 'IRANSans';
      font-weight: 500;
      margin-top: 30px; }
    footer .information .brand img {
      width: 30%; }
  footer .information .content {
    padding: 15px;
    margin: 20px;
    margin-top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px #ababab;
    background-color: #fff;
    z-index: 1; }
    footer .information .content p {
      font-size: 13px;
      font-family: 'IRANSans';
      text-align: center;
      line-height: 25px; }
    footer .information .content a {
      padding: 5px 20px;
      font-size: 11px;
      margin: auto;
      display: block;
      width: 75px; }
  footer .contact-us {
    font-family: 'IRANSans';
    font-size: 10px;
    margin-top: 40px; }
    footer .contact-us h4 {
      font-weight: 500;
      color: #4A69BD; }
    footer .contact-us ul li {
      margin-top: 20px;
      margin-left: 15px;
      position: relative; }
      footer .contact-us ul li:after {
        position: absolute;
        font-family: FontAwesome;
        color: #4A69BD;
        font-size: 20px;
        right: -20px;
        top: -7px; }
      footer .contact-us ul li:nth-child(1):after {
        content: "\f041"; }
      footer .contact-us ul li:nth-child(2):after, footer .contact-us ul li:nth-child(3):after {
        content: "\f095";
        font-size: 15px;
        top: -2px; }
      footer .contact-us ul li:nth-child(4):after {
        content: "\f003";
        font-size: 15px;
        right: -22px;
        bottom: -5px; }
      footer .contact-us ul li p {
        font-weight: 500;
        color: #4A69BD; }
        footer .contact-us ul li p.phone-number {
          font-size: 13px; }
      footer .contact-us ul li a:hover {
        text-decoration: none; }

.copyright {
  background-color: #292f38;
  padding: 15px 0; }
  .copyright ul {
    margin-bottom: 0; }
    .copyright ul li a {
      color: #fff;
      font-size: 20px; }
  .copyright p {
    font-size: 13px;
    color: #fff;
    margin-bottom: 0;
    margin-top: 5px; }

.all-types {
  padding: 85px 0;
  padding-top: 100px;
  background-color: #f4f3f2;
  margin-bottom: -25px; }
  .all-types .item-1 {
    width: 235px;
    bottom: -165px;
    right: -75px; }
  .all-types .item-2 {
    width: 200px;
    left: -50px;
    top: -150px; }
  .all-types .item-3 {
    width: 85px;
    right: 21%;
    top: -130px; }
  .all-types .item-4 {
    width: 100px;
    right: 50%;
    bottom: -100px; }
  .all-types .genius-type,
  .all-types .normal-type {
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    padding: 50px;
    box-shadow: 0 0 21px #9c9c9c;
    margin: 10px; }
    .all-types .genius-type .title,
    .all-types .normal-type .title {
      font-family: 'samim';
      font-size: 19px;
      margin-bottom: 50px;
      font-weight: 500;
      color: #1A1A1A;
      margin-top: 0; }
    .all-types .genius-type p,
    .all-types .normal-type p {
      text-align: center;
      font-family: 'IRANSans';
      font-size: 12px;
      line-height: 25px;
      color: #1A1A1A;
      font-weight: 500; }
      .all-types .genius-type p.warning,
      .all-types .normal-type p.warning {
        color: #999999 !important;
        font-size: 11px; }
      .all-types .genius-type p .important,
      .all-types .normal-type p .important {
        color: #fd8686; }
    .all-types .genius-type img,
    .all-types .normal-type img {
      width: 170px;
      position: absolute;
      top: -85px; }
  .all-types .normal-type {
    margin-right: 80px; }
    .all-types .normal-type .warning {
      opacity: 0; }
    .all-types .normal-type .title {
      text-align: right;
      margin-right: 100px; }
    .all-types .normal-type img {
      right: -55px; }
  .all-types .genius-type {
    margin-left: 80px; }
    .all-types .genius-type .title {
      text-align: left;
      margin-left: 100px; }
    .all-types .genius-type img {
      left: -55px; }

.skills-landing {
  padding: 300px 0;
  margin-bottom: -205px;
  margin-top: -245px; }
  .skills-landing .row .col-md-5:last-child {
    margin-top: 40px; }
  .skills-landing .content {
    width: 55%; }
  .skills-landing img {
    width: 45%; }
  .skills-landing .content .title {
    font-family: lalezar;
    color: #333333;
    font-size: 22px; }
  .skills-landing .content p {
    font-family: 'IRANSans';
    color: #1A1A1A;
    line-height: 30px;
    font-size: 12px; }

.todo-landing {
  background-color: #f4f3f2;
  margin-top: -65px; }
  .todo-landing .item-1 {
    width: 210px;
    left: -65px;
    top: -105px; }
  .todo-landing .item-2 {
    width: 80px;
    right: 25%;
    top: -164px; }
  .todo-landing .item-3 {
    width: 70px;
    right: 10%;
    top: 25%; }
  .todo-landing .item-4 {
    width: 60px;
    left: 28%;
    top: -15px; }
  .todo-landing .item-5 {
    width: 200px;
    right: -50px;
    bottom: 5px; }
  .todo-landing .item-6 {
    width: 100px;
    left: 20%;
    bottom: 50px; }
  .todo-landing .content {
    width: 70%; }
    .todo-landing .content .title {
      font-family: 'samim';
      font-size: 20px;
      color: #4A69BD;
      margin-top: 35px;
      margin-bottom: 20px; }
    .todo-landing .content p {
      font-family: 'IRANSans';
      font-size: 12px;
      color: #4D4D4D;
      line-height: 25px;
      font-weight: 500; }
  .todo-landing img {
    width: 30%; }
  .todo-landing .fancy-divider {
    margin-top: 100px; }

@media (min-width: 768px) {
  .navbar-header {
    float: left; } }
@media (max-width: 1200px) {
  .banner h4 {
    margin-top: 85px;
    font-size: 25px;
    text-align: justify; }
  .banner button {
    margin-top: 60px; }

  .traveller {
    bottom: 30px; }

  nav.navbar.bootsnav .container-fluid {
    margin: auto 10px; }

  .navbar-brand > img {
    margin-top: 20px;
    width: 120px;
    transition: .4s; }

  .all-types .item-1 {
    width: 160px;
    bottom: -50px; }

  .all-types .genius-type,
  .all-types .normal-type {
    padding: 30px; }
    .all-types .genius-type .title,
    .all-types .normal-type .title {
      font-size: 17px; }
    .all-types .genius-type p,
    .all-types .normal-type p {
      margin-top: 70px; }
      .all-types .genius-type p.warning,
      .all-types .normal-type p.warning {
        margin-top: 0; }

  .todo-landing .item-1 {
    width: 160px;
    top: 0; }
  .todo-landing .item-2 {
    display: none; } }
@media (max-width: 992px) {
  .banner h4 {
    margin-top: 40px;
    font-size: 20px;
    line-height: 40px; }
  .banner button {
    margin-top: 45px;
    font-size: 15px;
    padding: 15px 20px; }

  .traveller {
    display: none; }

  .navbar-brand > img {
    width: 90px;
    margin-top: 0; }

  nav.navbar.bootsnav .navbar-nav {
    background-color: #fff;
    transition: .4s; }

  nav.navbar.bootsnav {
    background-color: transparent; }
    nav.navbar.bootsnav .navbar-toggle {
      font-size: 40px;
      color: #4A69BD;
      background-color: #fff;
      box-shadow: none;
      outline: none;
      background: none; }
    nav.navbar.bootsnav .attr-nav {
      display: none; }

  .wrap-sticky nav.navbar.bootsnav.sticked .navbar-brand > img {
    margin-top: 0px;
    width: 90px; }

  .wrap-sticky nav.navbar.bootsnav.sticked .navbar-nav {
    background-color: #f3f3f3e8; }

  nav.navbar.bootsnav ul.nav > li > a {
    margin: 0; }

  nav.navbar.bootsnav ul.nav > li.active > a:before {
    opacity: 0; }

  .todo-landing {
    margin-top: 0; }
    .todo-landing .item-3 {
      opacity: 0; }
    .todo-landing .item-6 {
      bottom: 35px; }
    .todo-landing .fancy-divider {
      margin-top: 160px; }

  .skills-landing .row .col-md-5 {
    margin-top: 40px; }

  .all-types .normal-type {
    margin-bottom: 100px; }

  footer .information {
    margin-top: 50px; } }
@media (max-width: 768px) {
  .banner img {
    width: 400px;
    margin: auto;
    display: block; }

  .all-types .normal-type,
  .all-types .genius-type {
    margin-left: 60px;
    margin-right: 60px; }
    .all-types .normal-type .title,
    .all-types .genius-type .title {
      margin-right: 0;
      margin-left: 0;
      text-align: center; }

  .all-types .item-1 {
    width: 240px;
    bottom: 200px; }
  .all-types .item-2 {
    top: 140px; }
  .all-types .item-3 {
    top: -70px;
    right: inherit;
    left: 75px; }
  .all-types .item-4 {
    bottom: 0; }

  .todo-landing .content {
    width: 100%;
    margin: 0 80px; }
  .todo-landing .item-1 {
    width: 160px;
    top: 185px; }
  .todo-landing .item-4 {
    left: 50px;
    top: -65px; }
  .todo-landing .item-5 {
    display: none; }
  .todo-landing .item-6 {
    display: none; }
  .todo-landing .fancy-divider {
    margin-top: 60px;
    width: 50%;
    margin-right: auto;
    margin-left: auto; }
  .todo-landing .fancy-divider.bigger {
    width: 80%; }

  footer .information {
    margin-right: auto;
    margin-left: auto;
    width: 300px; }

  footer .contact-us h4 {
    font-weight: 500;
    color: #4A69BD;
    margin-right: -20px; }

  footer .contact-us {
    margin-right: auto;
    margin-left: auto;
    width: 80%; }

  .banner {
    background-size: contain; }

  .skills-landing {
    background-repeat: repeat; }
    .skills-landing .item {
      padding: 0 130px; }
    .skills-landing img {
      width: 30% !important; }
    .skills-landing .content {
      width: 70%; }
    .skills-landing #owl-two .owl-nav {
      display: none; }
    .skills-landing #owl-two .owl-dots {
      margin-top: 40px; } }
@media (max-width: 650px) {
  .skills-landing .item {
    padding: 0 50px; }
    .skills-landing .item img {
      margin-left: 35px; }

  .todo-landing .content {
    margin: 0 10px; }

  .all-types .normal-type .title {
    text-align: left; }

  .all-types .genius-type .title {
    text-align: right; } }
@media (max-width: 500px) {
  .all-types {
    margin-bottom: 0; }

  .all-types .normal-type .title,
  .all-types .genius-type .title {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 50px; }
  .all-types .normal-type p,
  .all-types .genius-type p {
    margin: 5px; }

  .banner h4 {
    display: none; }
  .banner button {
    margin-right: auto;
    margin-left: auto; }

  footer .information {
    margin-right: auto;
    margin-left: auto;
    width: 95%; }

  .all-types .normal-type {
    margin-bottom: 170px; }

  .all-types .normal-type,
  .all-types .genius-type {
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px; }
    .all-types .normal-type .title,
    .all-types .genius-type .title {
      margin-top: 60px; }

  .all-types .genius-type img,
  .all-types .normal-type img {
    width: 170px;
    position: absolute;
    top: -130px;
    right: 0 !important;
    left: 0 !important;
    margin: auto; }

  .banner img {
    width: 70%; } }
@media (max-width: 400px) {
  .sponsers-slider .item img {
    width: 70%; }

  .all-types .item-3 {
    display: none; }

  .skills-landing .content,
  .skills-landing img {
    width: 100% !important;
    margin: auto;
    display: block; }
  .skills-landing .item {
    padding: 0 50px; }
    .skills-landing .item .flex-r {
      flex-direction: column; } }

/*# sourceMappingURL=main.css.map */
